@import "../../global/global.scss";

.history {
  width: 100vw;
  min-height: 100vh;
  height: 100%;

  padding: 32px 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .total {
    background: $main-red;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
    cursor: default;

    padding: 10px;

    border-radius: 50%;
  }

  &__list {
    display: flex;
    flex-direction: column;

    padding: 32px 0;
    margin-bottom: 24px;

    max-width: 900px;
    width: 100%;

    border-bottom: 1px solid $gray-dark;

    & h2 span {
      font-size: 28px;
    }

    &__header {
      display: flex;
      justify-content: space-between;

      margin: 8px 0;

      & h3 span {
        font-weight: 400;
        font-size: 16px;
      }
    }

    &__questions {
      display: flex;
      flex-direction: column;
      gap: 8px;

      p {
        font-size: 18px;

        padding: 6px 10px;

        border-radius: 8px;

        &.correct {
          border: 2px solid green;

          background: rgb(213, 236, 213);
        }

        &.wrong {
          border: 2px solid red;

          background: rgb(233, 204, 204);
        }
      }
    }
  }
}
